<launch>
        <node
                pkg="cv_basics"
                type="webCamPub.py"
                name="webCamPub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="webCamSub.py"
                name="webCamSub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="colorDetectionPub.py"
                name="colorDetectionPub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="colorDetectionSub.py"
                name="colorDetectionSub"
                output="screen"
        />
</launch>

