<launch>
        <node
                pkg="cv_basics"
                type="webCamPub.py"
                name="webCamPub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="webCamSub.py"
                name="webCamSub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="morphPub.py"
                name="morphPub"
                output="screen"
        />
        <node
                pkg="cv_basics"
                type="morphSub.py"
                name="morphSub"
                output="screen"
        />
</launch>

