<launch>
	<node
		pkg="lanes"
		type="webCamPublisher"
		name="webCamPublisher"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="webCamSubscriber"
		name="webCamSubscriber"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="hsvConvPub"
		name="hsvconvPub"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="hsvConvSub"
		name="hsvconvSub"
		output="screen"
	/>
</launch>
