<launch>
	<node
		pkg="lanes"
		type="webCamPublisher"
		name="webCamPublisher"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="webCamSubscriber"
		name="webCamSubscriber"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="hsvConvPub"
		name="hsvConvPub"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="hsvConvSub"
		name="hsvConvSub"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="grayConvPub"
		name="grayConvPub"
		output="screen"
	/>
	<node
		pkg="lanes"
		type="grayConvSub"
		name="grayConvSub"
		output="screen"
	/>
</launch>
